.App {
  margin: 0;
  padding: 0;
  background-color:'#e6f6fc';
}

.background-image {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  display: block;
  height: 100%;
  background-image: url(./assets/better_banner_bckg_2.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -o-filter: blur(12px);
  -ms-filter: blur(12px);
  filter: blur(12px);
}

.content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

