.hidden {
    visibility: hidden;
}

.animate-up {
    animation-name: slide-up;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.animate-down {
    animation-name: slide-down;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

@keyframes slide-up {
    from {top: 0}
    to {top: -50px}
}
 @keyframes slide-down {
    from {top: -50px}
    to {top: 0}
}